.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tweet label {
  font-weight: 900;
}

.new-tweet textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 4px solid black;
  margin-bottom: 1em;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet button {
  border: none;
  outline: none;
  background-color: #0980db;
  font-family: "Bungee", cursive, sans-serif;
  color: white;
}

.counter {
  font-family: "Bungee", cursive, sans-serif;
  color: black;
}

.red {
  color: red;
}

#error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid red;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  font-size: 16pt;
}
