.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-weight: 900;
}

.new-tweet textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 4px solid black;
  margin-bottom: 1em;
}

.new-tweet button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  outline: none;
  background-color: #0980db;
  font-family: "Bungee", cursive, sans-serif;
  color: white;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Bungee", cursive, sans-serif;
  color: black;
}

.red {
  color: red;
}

#error {
  border: 5px solid red;
  margin: 3em;
  padding: 1.5em;
  width: 50%;
  padding-top: 121px;
}
